.header {
    color: white;
    background-color: #f55a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.header p {
    margin: 5px;
    font-size: 18px;
    line-height: 100%;
}
